
.confirmButtons{
    display: flex;
    align-items: center;
}

.createPost{
    margin-right: 10px;

    padding: 0 16px;

    background-color: var(--brand-1);
    color: var(--grey-9);

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.confirmBttn{
    margin-left: 6px;
    width: 170px;
    height: 30px;
}

#avatarButton {
    border: none;
}