
.rpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.rpFormContainer{
    width: 23.125em;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: var(--grey-1);
}

.rpFormHeader{
    display: flex;
    justify-content: space-between;
    
    width: 20.063rem;

    margin-bottom: 27px;
}

.rpFormHeader h3{
    font-size: var(--font-s-2);
    font-weight: var(--font-w-2);
}

.rpFormHeader a {
    font-size: var(--font-s-5);
    font-weight: var(--font-w-2);
}

label{
    display: block;
    margin-bottom: 12px;

    font-size: var(--font-s-4);
    font-weight: var(--font-w-2);
}

input{
    display: block;

    width: 20.063rem;
    margin-bottom: 26px;
    height: 44px;
    padding: 0 16px;

    border: 1px solid var(--grey-6);
    border-radius: 4px;
}

.registerBttn{
    height: 38px;
    width: 20.063rem;
    margin-bottom: 30px;

    background-color: var(--brand-1);
    color: var(--grey-9);

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;

    cursor: pointer;
}

.backToLpBttn{
    display: block;
    text-align: center;

    height: 38px;
    width: 20.063rem;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;

    cursor: pointer;
}

.repDescContainer{
    width: 20em;
}

.repDescContainer h1{
    font-size: var(--font-s-1);
    font-weight: var(--font-w-2);
    
    color: var(--grey-1);

    margin-bottom: 24px;
}

.repDescContainer span{
    color: var(--brand-1);

    font-size: var(--font-s-1);
    font-weight: var(--font-w-1);
}

.repDescContainer p {
    color: var(--grey-3);
    font-size: var(--font-s-4);
    line-height: var(--line-h-2);
}