* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-1: hsl(230, 57%, 50%);
  --brand-2: hsl(230, 68%, 54%);
  --grey-1: hsl(210, 11%, 15%);
  --grey-2: hsl(210, 10%, 23%);
  --grey-3: hsl(210, 9%, 31%);
  --grey-4: hsl(210, 7%, 56%);
  --grey-5: hsl(210, 11%, 71%);
  --grey-6: hsl(210, 16%, 93%);
  --grey-7: hsl(210, 17%, 95%);
  --grey-8: hsl(210, 17%, 98%);
  --grey-9: hsl(200, 100%, 99%);
  --alert-1: hsl(349, 57%, 50%);
  --alert-2: hsl(349, 69%, 55%);
  --sucess-1: hsl(162, 88%, 26%);

  --font-s-1: 32px;
  --font-s-1-5: 24px;
  --font-s-2: 20px;
  --font-s-3: 18px;
  --font-s-4: 16px;
  --font-s-5: 14px;

  --font-w-1: 600;
  --font-w-2: 500;
  --font-w-3: 400;

  --line-h-1: 48px;
  --line-h-1-5: 36px;
  --line-h-2: 24px;
  --line-h-3: 21px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

button {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--brand-1);    
  border-radius: 20px;       
}

.qtip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  font-style: normal;
  transition:all .25s ease-in-out
}

.qtip:before {
  content: attr(data-tip);
  background: var(--grey-5);
  color: var(--grey-9);
  
  position: absolute;
  line-height: 1.2em;
  padding: 0.5em;
  width: 180px;
  opacity: 1;
  visibility: visible;

  
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: all .3s ease-in-out;
}
.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-in-out
}

.qtip.tip-bottom:before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-bottom:after {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent var(--grey-5) transparent;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
