
.loadingSpinner{
    animation: is-rotating 1s infinite;
}

@keyframes is-rotating {
    0% {
      transform: rotate(0turn);
    }100%{
        transform: rotate(1turn);
    }
  }

@keyframes disappear {
  0%{
    visibility: 1;
  }100%{
    visibility: 0;
  }
}